.header {
    text-align: center;
    background:darkblue;
    padding: 40px;
    color: white;
    margin-bottom: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

.body {
    padding: 20px;
    border-style: outset;
}

.body-header {
    border: outset;
    padding: 5px;
    background:lightgrey;
    font-weight: bold;
}

.btn {
    background: darkblue !important;
}

.articles {
    margin-top: 20px
}

.articles_body {
    padding: 20px;
    border-style: outset;
}